<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>772492379024-317um9s9jq5njb414uc9k5e0spc8c4r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772492379024-317um9s9jq5njb414uc9k5e0spc8c4r2</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Ae8ikmWRXkiTs6xP9RPj_QYwTh8DHDM</string>
	<key>GCM_SENDER_ID</key>
	<string>772492379024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gina.iliff.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-449a2</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-449a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:772492379024:ios:96964979e0ca7644</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-449a2.firebaseio.com</string>
</dict>
</plist>